{% include 'base.html' %}
{% load staticfiles %}

{% block content %}
<link href="{% static 'css/login.css' %}" rel="stylesheet" type="text/css">
  <div class="container" >
    <div class="row">
      <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
        <div class="card card-signin my-5">
          <div class="card-body">
            <h5 class="card-title text-center">Admin Sign In</h5>
            <form class="form-signin" action="/admin_sign_in/" method="post">
                {% csrf_token %}
              <div class="form-label-group">
                <input type="text" id="inputEmail" name="emailid" class="form-control" placeholder="Email address" required autofocus>
                <label for="inputEmail">Email address</label>
              </div>

              <div class="form-label-group">
                <input type="password" id="inputPassword" name="password" class="form-control" placeholder="Password" required>
                <label for="inputPassword">Password</label>
              </div>

              <h4 class="my-4"></h4>
              <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
            </form>
          </div>
            <div class="card-footer">
                <div class="d-flex justify-content-center links">
					Go to <a href=" {% url 'main_page' %}">Home Page</a>
				</div>
            <hr>
                {% if msg %}
                    <h4><strong><font color="red" style="font-family: Magneto">{{ msg }}</font></strong></h4>
                {% endif %}
			</div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}