
{% include 'base.html' %}
{% load staticfiles %}

{% block content %}
    <div class="dropdown" align="right">
  <a class="btn btn-danger dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Admin
  </a>

  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <a class="dropdown-item" href="#">Contact Us</a>
    <a class="dropdown-item" href="#">About</a>
    <a class="dropdown-item" href="/admin_logout/">Logout</a>
  </div>
</div>


<div class="row" align="center">
    <div class="col">
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">
            Add Prodcut
        </button>
    </div>
</div>

<h4 class="my-4"></h4>


<div class="collapse" id="collapseExample1">
  <div class="card card-body">Product Add
      <div class="row">
        <div class="col" align="center">
            <form class="col" action="/product_add/">
                <button type="submit" class="btn btn-secondary btn-lm">Add Product</button>
            </form>
        </div>
      </div>
  </div>
</div>
    {% if mes %}
        <div class="card-footer">
            <h4><strong><font color="red" style="font-family: Magneto">{{ mes }}</font></strong></h4>
        </div>
    {% endif %}


{% endblock %}
